<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
    <%- include('../partials/header.ejs') %>

        <div class="container">
            <div class="sidebarEdit"></div>
                <div class="registration">
                    <form action="/venues/<%= venue._id %>?_method=PUT" method="POST">
                        <fieldset class="account-info">
                            <legend>Edit</legend>

                            <label for="venueName">Venue Name:</label>
                            <input type="text" name="name" value="<%= venue.name %>"/>
                            
                            <label>Add Image: </label><input type="text" name="img" value="<%= venue.img %>"/>
                            
                            <label>Location: </label><input type="text" name="location" value="<%= venue.location %>"/>
                            
                            <label>Date of Wedding: </label><input type="date" name="dateOfWedding" value="<%= venue.dateOfWedding %>"/>
                            
                            <label>Name of Party:</label> <input type="text" name="nameOfParty" value="<%= venue.nameOfParty %>"/>
                            
                            <label>Venue website: </label><input type="text" name="venueWebsite" value="<%= venue.venueWebsite %>"/>
                            
                            <label>Rating: Based on 1 - 5.
                            <br>1 is the Worse and 5 is the Best rating. </label>
                            <input type="number" name="venueRating" value="<%= venue.venueRating %>"/>

                            <label>Include event in Portfolio: </label>
                                <input 
                                    type="checkbox" 
                                    name="addToPortfolio"
                                    <%=venue.addToPortfolio ? "checked" : "" %>
                                    />
                            
                            <label>Add Comments: </label> <textarea name="comments" rows="10" cols="48" value="<%= venue.comments %>"></textarea>
                            
                            <input type="submit" class="submit"  value="Edit" />
                        </fieldset>
                    </form>
                </div>
        </div>
    </body>
</html>