<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
    <%- include('../partials/header.ejs') %>

    <form action="/venues/<%= id %>?_method=PUT" method="post">
        <fieldset>
            <legend>Edit <%= Venue.name %></legend>
            <h3>Venue Name: <input type="text" name="name" value="<%= Venue.name %>"/></h3>
            <h3>Add Image: <input type="text" name="img" value="<%= Venue.img %>"/></h3>
            <h3>Location: <input type="text" name="location" value="<%= Venue.location %>"/></h3>
            <h3>Date of Wedding: <input type="date" name="dateOfWedding" value="<%= Venue.dateOfWedding %>"/></h3>
            <h3>Name of Party: <input type="text" name="nameOfParty" value="<%= Venue.nameOfParty %>"/></h3>
            <h3>Venue website: <input type="text" name="venueWebsite" value="<%= Venue.venueWebsite %>"/></h3>
            <h3>Rating: Based on 1 - 5 with 1 being the worse rating and 5 being the Best rating.  
            <input type="number" name="venueRating" value="<%= Venue.venueRating %>"/></h3>
            <h3>Include event in Portfolio: 
                <input 
                    type="checkbox" 
                    name="addToPortfolio"
                    <%=Venue.addToPortfolio ? "checked" : "" %>
                    />
                </h3>
            <h3>Add Comments: <input type="text" name="comments" value="<%= Venue.comments %>"/></h3>
            <input type="submit" value="Edit <%= Venue.name %>" />
        </fieldset>
    </form>

    
    </body>
</html>