<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
    <%- include('../partials/header.ejs') %>

    <div class="logout">
        <a href="/user/logout"><button>Logout</button></a>
    </div>

        <div class="userVenues">
            <!-- <a href="/user/logout"><button>Logout</button></a> -->
                <div class="listVenues">
                    <% for (Venue of venue) { %>
                        <div class="venueDisplay">
                            <a href="/venues/<%= venue._id %>">
                                <h2> <%= Venue.name %></h2></a>

                            <a href="/venues/<%= Venue._id %>">
                                <img src="<%= Venue.img %>" alt="wedding venue image"/></a>
                        </div>
                    <% } %>
                </div>
                <div class="addNew">
                    <h2><a href="/venues/new"><button>Add new Venue</button></a></h2>
                </div>
        </div>
    </body>
</html>