<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
    <%- include('../partials/header.ejs') %>

    <div class="listVenues">
        <% for (let i=0; i < venue.length; i++) { %>
            <a href="/venues/<%= i %>">
                <h2> <%= venue[i].name %></h2>
                <img src="<%= venue[i].img %>" alt="wedding venue image"></a>
        <% } %>
            <h3><a href="/venues/new">Add new Venue</a></h3>
    </div>
    
    </body>
</html>