<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
    <%- include('../partials/header.ejs') %>

<!-- ============= CONTAINER ============== -->
<div class="container">
    <div class="sidebarEdit"></div>
    <div class="registration">
      <h1>EDIT <%= venue.name %></h1>
      
      <form action="/venues/<%= venue._id %>?_method=PUT" method="POST">
        <fieldset class="account-info">
          <legend>INFORMATION: <%= venue.name %></legend>
            
            <label for="venueName">Venue Name</label>
            <input type="text" name="venueName" id="venueName" value="<%= venue.name %>"/>

            <label>Add Image:</label> 
            <input type="text" id="addImage" name="img" value="<%= venue.img %>"/>
            
            <label>Location:</label> 
            <input type="text"  id="location" name="location" value="<%= venue.location %>"/>
            
            <label>Date of Wedding:</label> 
            <input type="date" id="dateOfWedding" name="dateOfWedding" value="<%= venue.dateOfWedding %>"/>
            
            <label>Name of Party:</label> 
            <input type="text" id="nameofparty" name="nameOfParty" value="<%= venue.nameOfParty %>"/>
            
            <label>Venue website:</label>
            <input type="text" id="venueWebsite" name="venueWebsite" value="<%= venue.venueWebsite %>"/>
            
            <label>Rating: </label>Based on 1 - 5.
            <br>1 is the Worse and 5 is the Best rating. 
            
            <input type="number" id="venueRating" name="venueRating" value="<%= venue.venueRating %>"/>

            <label>Include event in Portfolio: </label>
                <input 
                    type="checkbox" 
                    id="addToPortfolio"
                    name="addToPortfolio"
                    <%=venue.addToPortfolio ? "checked" : "" %>
                    />
            <label for="comments">Comments:</label> <textarea id="comments" name="comments" value="<%= venue.comments %>"></textarea>
            
            <input type="submit" class="submit"  value="Edit <%= venue.name %>" />
        </fieldset>
    </form>
    </div>
</div>

    </body>
</html